<p>etudiantdetails works!</p>
<p>{{etudiant.id}}</p>
<div class="card">
  <div class="ds-top"> <a>{{etudiant.lastname}} {{etudiant.name}} </a></div>
  <div class="button">
    <a href="#" class="btn" >Archive de PFE  <i class="fas fa-archive"></i></a>
  </div>
  <div class="name">
    <a>Information :</a>
  </div>
  <div class="ds-skill">
    <h6> : <i class="fa fa-code" aria-hidden="true"></i></h6>
    <div class="skill">
      <h6>Graduated : </h6>    
    </div>
    <div class="skill">
      <h6>Classe : </h6>   
    </div>
    <div class="skill">
      <h6>Autorisized : </h6>
    </div>
  </div>
 
</div>  