<app-fichedetails></app-fichedetails>
<mat-dialog-actions  align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onvalidate()">validate</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onrefuse()">Refuser</button>
    <!--button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="annuler()">Annuler</button!-->
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="affecter()">AffecterProf</button>
</mat-dialog-actions>