
<body id="LoginForm">
    <div class="container">
    <h1 class="form-heading"></h1>
    <div class="login-form">
    <div class="main-div">
        <div class="panel">
       <h2>Gestion et suivi des Fiches PFE</h2>
       </div>
       <img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Logo_ESPRIT_Ariana.jpg"  height="80" width="200"><br><br>
        <form id="Login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
            <div class="form-group">
    
    
                <input type="email" class="form-control" formControlName="username" id="inputEmail" placeholder="Identifiant" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
    
                
            </div>
    
            <div class="form-group">
    
                <input type="password" class="form-control" formControlName="password" id="inputPassword" placeholder="Mot de passe"[ngClass]="{ 'is-invalid': submitted && f.password.errors }">
    
                <div *ngIf="submitted && f.username.errors && f.password.errors; else elseBlock">
                    <div *ngIf="f.username.errors.required" ><label class="alert">Identifiant et mdp sont obligatoires.</label></div>
                </div>
                <ng-template #elseBlock>
                <div *ngIf="submitted && f.username.errors">
                    <div *ngIf="f.username.errors.required"><label class="alert">Identifiant est obligatoire.</label></div>
                </div>
                <div *ngIf="submitted && f.password.errors">
                    <div *ngIf="f.password.errors.required"><label class="alert">Mdp est obligatoire.</label></div>
                </div>
            </ng-template>
            </div>
            <div class="forgot">
            <a href="reset.html">Mot de passe oublié ?</a>
    </div>
            <button type="submit" class="btn btn-primary">Login</button>
    
            <div *ngIf="error" class="alert">{{error}}</div>
        </form>
        </div>
    <p class="botto-text">© ESPRIT 2019-2020</p>
    </div></div>
    
    
    </body>